/**
*@author rail_rz <zamaletdinov.rz@gmail.com>
*/
   
#new-element {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
    left:50%;
}

#moving-element {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left:25%;
}

.size-button {
    width:10px;
    height: 10px;
    position: absolute;
    background-color: red;
    /*display:none;*/
    /*left:20%;*/
}