/**
*@author rail_rz <zamaletdinov.rz@gmail.com>
*/
   
#new-element {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
}

#moving-element {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left:25%;
/*    opacity: 0.2;  Полупрозрачный фон 
    filter: alpha(Opacity=20);*/
/*     -moz-transform: rotate(45deg);   Firefox 
  -o-transform: rotate(45deg);   Opera 
  -webkit-transform: rotate(45deg);   Safari y Chrome */
}

.size-button {
    width:10px;
    height: 10px;
    position: absolute;
    background-color: red;
    /*display:none;*/
    /*left:20%;*/
}

#rotate-button {
    width:10px;
    height: 10px;
    position: absolute;
    background-color: red;
    z-index: 100;
    border-radius: 50%;
    display: none;
}

#circule{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 20px;
}

.circule-element {
    border-radius: 50%;
    background-color: green;
}

/*.tringle {*/
/*    content: ''; 
    position: absolute;
    left: 40px; bottom: -40px;
    border: 40px solid transparent;
    border-top: 40px solid green;*/
    /*background: green;*/
    /*border-radius: 10px;*/
    /*padding: 20px;*/
    /*color: #fff;*/
   /*}*/
/*.tringle::after {
    content: ''; 
    position: absolute;  Абсолютное позиционирование 
    left: 20px; bottom: -20px;  Положение треугольника 
    border: 10px solid transparent;  Прозрачные границы 
    border-top: 10px solid green;  Добавляем треугольник 
}*/
.triangle{
    opacity: 0.2; /* Полупрозрачный фон */
    filter: alpha(Opacity=20);
}

.triangle1 {
  border-color: #000 #fff #fff #fff;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  height: 0;
  width: 0;
}
