#cat {
	position: absolute;
	left: 75%;
	bottom: 170px;
	width: 0;
	height: 0;
}

#cat-head{
	position: relative;
	width: 70px;
	height: 50px;
	background-color: #BCD2EE;
	border: 1px solid #A2B5CD;
	border-radius: 100%;
	z-index: 3;
}

#cat-head:before, #cat-head:after {
	content: '';
	position: absolute;
	bottom: 40px;
	border: 10px solid transparent;
	border-bottom: 20px solid #BCD2EE;
}

#cat-head:after {
	left: 5px;
}

#cat-head:before{
	right: 5px;
}

#cat-body {
	position: relative;
	bottom: 10px;
	width: 70px;
	height: 90px;
	background-color: #BCD2EE;
	border: 1px solid #A2B5CD;
	border-radius: 15%;
}

#cat-hand {
	position: relative;
	bottom: 70px;
	left: 5px;
	width: 25px;
	height: 15px;
	background-color: #BCD2EE;
	/*border: 1px solid #A2B5CD;*/
	border-top:1px solid #A2B5CD;
	border-right:1px solid #A2B5CD;
	border-bottom:1px solid #A2B5CD;
	border-radius: 0 30% 30% 0;
}

#cat-hand:before {
	content: '';
	position: absolute;
	left: 35px;
	width: 25px;
	height: 15px;
	background-color: #BCD2EE;
	border-radius: 30% 0 0 30%;
}

#cat-footer {
	position: relative;
	bottom: 30px;
	left: 10px;
	width: 15px;
	height: 30px;
	background-color: #BCD2EE;
	border-radius: 0 0 30% 30% ;
}

#cat-footer:before {
	content: '';
	position: absolute;
	left: 35px;
	width: 15px;
	height: 30px;
	background-color: #BCD2EE;
	border-radius: 0 0 30% 30% ;
}

