/**
 * @author rail_rz <zamaletdinov.rz@gmail.com>
 */
 #deer {
     position: absolute;
     top:10%;
     left:50%;
     width: 0;
     height: 0;
 }

#deer-right-horns {
	position:relative;
	bottom: 40px;
    left: 55px;
    width: 10px;
	height: 60px;
	background-color: black;
	border-radius: 25% 25% 0 0 ;
	transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
}

#deer-right-horns:before {
	 content: '';
	 position:absolute;
	 width: 15px;
	 height: 45px;
	 top: 5px;
	 left: 10px;
	 background-color: black;
	 border-radius: 25% 25% 0 0 ;
	 transform: rotate(35deg);
	 -moz-transform: rotate(35deg);
	 -webkit-transform: rotate(35deg);
 }

#deer-right-horns:after {
	content: '';
	position:absolute;
	width: 15px;
	height: 50px;
	top: 20px;
	left: -10px;
	background-color: black;
	border-radius: 25% 25% 0 0 ;
	transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
}

#deer-left-horns {
	position:relative;
	width: 40px;
	height: 10px;
	background-color: black;
	border-radius: 25% 0 0 25%;
	transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

#deer-left-horns:before {
	content: '';
	position:absolute;
	width: 45px;
	height: 10px;
  	right: -5px;
	background-color: black;
	border-radius: 25% 0 0 25%;
	transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
}

#deer-left-horns:after {
	content: '';
	position:absolute;
	width: 45px;
	height: 10px;
   	right: -10px;
	background-color: black;
	border-radius: 25% 0 0 25%;
	transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	-webkit-transform: rotate(65deg);
}

 #deer-head {
     position: relative;
     background-color: black;
     width: 50px;
     height: 30px;
	 top:-55px;
     border-radius: 150% 50%  50% 100% / 150%;
 }
 
 #deer-body {
     position: relative;
     left: 30px;
     top: -65px;
     background-color: black;
     width: 90px;
     height: 40px;
     border-radius: 25% 30% 5% 5%;
 }

 #deer-body:after {
	 content: '';
	 position: absolute;
	 right: -5px;
	 width: 15px;
	 height: 15px;
	 background-color: black;
	 border-radius:70% 0 70% 0;
 }
 
 #deer-left-footer-1,  #deer-left-footer-2 {
     position: relative;
	 top: -70px;
     width: 10px;
     height: 30px;
     background-color: black;
     border-radius: 30%;
 }
 
 #deer-left-footer-1 {
     left: 35px;
 }
     
 #deer-left-footer-2 {
    top: -100px;
    left: 40px;
 }
 
 #deer-left-footer-1:before,  #deer-left-footer-2:before {
     content: '';
     position: absolute;
     top: 25px;
     left: 5px;
     width: 10px;
     height: 20px;
     background-color: black;
     border-radius: 30%;
     transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(-25deg);
 } 
 
 #deer-left-footer-1:after,  #deer-left-footer-2:after {
     content: '';
     position: absolute;
     width: 10px;
     height: 5px;
     top: 40px;
     left: 10px;
     background-color: black;
     transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(-25deg);
 }
 
 #deer-right-footer-1,  #deer-right-footer-2 {
     position: relative;
     top: -130px;
     width: 10px;
     height: 30px;
     background-color: black;
     border-radius: 30%;
 }
 
 #deer-right-footer-1 {
     left: 100px;
 }
     
#deer-right-footer-2 {
     top: -160px;
     left: 105px;
 }
 

 #deer-right-footer-1:before,  #deer-right-footer-2:before {
     content: '';
     position: absolute;
     top: 25px;
     left: 5px;
     width: 10px;
     height: 20px;
     background-color: black;
     border-radius: 30%;
     transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(-25deg);
 } 
 
 #deer-right-footer-1:after,  #deer-right-footer-2:after {
     content: '';
     position: absolute;
     width: 10px;
     height: 5px;
     top: 40px;
     left: 10px;
     background-color: black;
     transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(-25deg);
 }
 


