/**
 * @author rail_rz <zamaletdinov.rz@gmail.com>
 */
 #deer {
     position: absolute;
     top:10%;
     left:50%;
     width: 0;
     height: 0;
 }

#deer-right-horns {
	position:relative;
	width: 25px;
	height: 120px;
	left: 90px;
	background-color: black;
	border-radius: 25% 25% 0 0 ;
	transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
}

#deer-right-horns:before {
	 content: '';
	 position:absolute;
	 width: 25px;
	 height: 70px;
	 top: 5px;
	 left: 10px;
	 background-color: black;
	 border-radius: 25% 25% 0 0 ;
	 transform: rotate(30deg);
	 -moz-transform: rotate(30deg);
	 -webkit-transform: rotate(30deg);
 }

#deer-right-horns:after {
	content: '';
	position:absolute;
	width: 25px;
	height: 100px;
	top: 20px;
	left: -10px;
	background-color: black;
	border-radius: 25% 25% 0 0 ;
	transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
}

#deer-left-horns {
	position:relative;
	width: 80px;
	height: 20px;
	top: 80px;
	background-color: black;
	border-radius: 25% 0 0 25%;
	transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

#deer-left-horns:before {
	content: '';
	position:absolute;
	width: 90px;
	right: -5px;
	height: 20px;
	background-color: black;
	border-radius: 25% 0 0 25%;
	transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
}

#deer-left-horns:after {
	content: '';
	position:absolute;
	width: 90px;
	right: -10px;
	height: 25px;
	background-color: black;
	border-radius: 25% 0 0 25%;
	transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	-webkit-transform: rotate(65deg);
}

 #deer-head {
     position: relative;
     background-color: black;
     width: 100px;
     height: 70px;
	 top:-20px;
     border-radius: 150% 50%  50% 100% / 150%;
 }
 
 #deer-body {
     position: relative;
     left: 40px;
     top: -30px;
     background-color: black;
     width: 200px;
     height: 100px;
     border-radius: 25% 30% 5% 5%;
 }

 #deer-body:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: -10px;
	 width: 30px;
	 height: 30px;
	 background-color: black;
	 border-radius:70% 0 70% 0;
 }
 
 #deer-left-footer-1,  #deer-left-footer-2 {
     position: relative;
	 bottom: 40px;
     width: 20px;
     height: 50px;
     background-color: black;
     border-radius: 30%;
 }
 
 #deer-left-footer-1:before,  #deer-left-footer-2:before {
     content: '';
     position: absolute;
     top: 40px;
     width: 20px;
     height: 60px;
     background-color: black;
     border-radius: 30%;
 } 
 
 #deer-left-footer-1:after,  #deer-left-footer-2:after {
     content: '';
     position: absolute;
     top: 90px;
     width: 20px;
     height: 10px;
     background-color: black;
 }
 
 #deer-left-footer-1 {
     left: 40px;
 }
     
#deer-left-footer-2 {
	bottom: 90px;
    left: 50px;
 }
 
 #deer-right-footer-1,  #deer-right-footer-2 {
     position: relative;
	 bottom: 140px;
     width: 40px;
     height: 50px;
     background-color: black;
     border-radius: 20% 20% 50% 50%;
 }
 
 #deer-right-footer-1:before,  #deer-right-footer-2:before {
     content: '';
     position: absolute;
     top: 40px;
     left: 10px;
     width: 20px;
     height: 60px;
     background-color: black;
     border-radius: 30%;
 } 
 
 #deer-right-footer-1:after,  #deer-right-footer-2:after {
     content: '';
     position: absolute;
     top: 90px;
     left: 10px;
     width: 20px;
     height: 10px;
     background-color: black;
 }
 
 #deer-right-footer-1 {
     left: 190px;
 }
     
#deer-right-footer-2 {
	top: -190px;
     left: 200px;
 }


