body {
	margin: 0 auto;
	background: #6495ED;
}

.body-block {
}

.fir-tree {
	position: absolute;
	left: 45%;
	bottom: 0;
	height: 390px;
}

#fir-tree-head::after {
	content: '';
	position: relative;
	border: 70px solid transparent;
	border-bottom: 90px solid green;
	border-radius: 0 0 25% 25%;
	z-index: 10;
}

#fir-tree-body::after {
	content: '';
	position: relative;
	bottom: -40px;
	right: 40px;
	border: 110px solid transparent;
	border-bottom: 105px solid green;
	border-radius: 0 0 25% 25%;
	z-index: 9;
}

#fir-tree-body-2::after {
	content: '';
	position: relative;
	bottom: -85px;
	right: 70px;
	border: 140px solid transparent;
	border-bottom: 110px solid green;
	border-radius: 0 0 25% 25%;
	z-index: 8;
}

#fir-tree-bottom::after {
	content: '';
	position: relative;
	bottom: -130px;
	right: 100px;
	border: 170px solid transparent;
	border-bottom: 130px solid green;
	border-radius: 0 0 25% 25%;
	z-index: 7;
}


#fir-tree-footer {
	position: relative;
	background: brown;
	bottom: -210px;
	left: 55px;
	height: 80px;
	width: 15px;
	z-index: 6;
}

#fir-tree-snow-center{
	position: relative;
	bottom: 0;
	background: white;
	bottom: -195px;
	right: 100px;
	height: 30px;
	width: 100%;
	border-radius: 100% 100% 0 0;
	z-index: 5;
}

.footer-snow{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	background: white;
	border-radius: 100% 100% 0 0;
	z-index: -1;
}