body {
	margin: 0 auto;
    background: #6495ED;
}

.body-block {
}

.fir-tree {
	position: absolute;
	left: 50%;
    bottom: 0;
    height: 205px; /** сделанно для кроссбраузерности мониторов разной велечины*/
}

.fir-tree-head::after {
	content: '';
	position: relative;
	bottom: 10%;
	border: 50px solid transparent;
	border-bottom: 40px solid green;
    z-index: 10;
}

.fir-tree-body::after {
	content: '';
	position: relative;
	bottom: -15px;
	right: 25px;
	border: 75px solid transparent;
	border-bottom: 50px solid green;
    z-index: 9;
}

.fir-tree-bottom::after {
	content: '';
	position: relative;
	bottom: -40px;
	right: 50px;
	border: 100px solid transparent;
	border-bottom: 50px solid green;
    z-index: 8;
}

.fir-tree-footer {
	position: relative;
	background: brown;
    bottom: -85px;
    left: 45px;
    height: 30px;
    width: 10px;
    z-index: 7;
}

.fir-tree-snow-center{
	position: relative;
	bottom: 0;
    background: white;
    bottom: -80px;
    right: 45px;
    height: 30px;
    width: 100%;
    border-radius: 100% 100% 0 0;
    z-index: 6;
}

.footer-snow{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: white;
    border-radius: 100% 100% 0 0;
    z-index: -1;
}
