body {
	margin: 0 auto;
	background: #6495ED;
}

.body-block {
}

.fir-tree {
	position: absolute;
	left: 45%;
	bottom: 0;
	height: 340px;
}

#fir-tree-head::after {
	content: '';
	position: relative;
	border: 90px solid transparent;
	border-bottom: 90px solid green;
	z-index: 10;
}

#fir-tree-body::after {
	content: '';
	position: relative;
	bottom: -30px;
	right: 25px;
	border: 115px solid transparent;
	border-bottom: 100px solid green;
	z-index: 9;
}

#fir-tree-body-2::after {
	content: '';
	position: relative;
	bottom: -65px;
	right: 50px;
	border: 140px solid transparent;
	border-bottom: 100px solid green;
	z-index: 8;
}

#fir-tree-bottom::after {
	content: '';
	position: relative;
	bottom: -95px;
	right: 80px;
	border: 170px solid transparent;
	border-bottom: 105px solid green;
	z-index: 7;
}


#fir-tree-footer {
	position: relative;
	background: brown;
	bottom: -175px;
	left: 85px;
	height: 50px;
	width: 15px;
	z-index: 6;
}

#fir-tree-snow-center{
	position: relative;
	bottom: 0;
	background: white;
	bottom: -175px;
	right: 80px;
	height: 30px;
	width: 100%;
	border-radius: 100% 100% 0 0;
	z-index: 5;
}

.footer-snow{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
	background: white;
	border-radius: 100% 100% 0 0;
	z-index: -1;
}