/* 
    Document   : prototype
    Created on : 08.05.2014, 11:22:11
    Author     : rail
    Description:
        Purpose of the stylesheet follows.
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

#content {}

#content-left {
    float: left;
}

#content-left-workzone{
    height: 500px;
    border: 1px solid black;
/*    здесь хиден, чтобы поверх дива не отображалось*/
    overflow: hidden;
}

#all-elements {
    /*overflow: hidden;*/
/*    здесь абсолют, чтобы позволить передвигать все дивы;)*/
    position: relative;
}

#content-left-helperzone {
    height: 100px;
    border: 1px solid black;
}

#content-right {
    float: left;
    /*border-left: 1px solid black;*/
}

