/**
 * @author rail_rz <zamaletdinov.rz@gmail.com>
 */
#ball-toy {
	position: absolute;
	top: 140px;
	left: 55px;
	height: 30px;
	width: 30px;
	background-color: blue;
	border-radius: 100%;
	z-index: 15;
}

#ball-toy:before {
	content: '';
	position: absolute;
	left: 13px;
	top: -4px;
	background-color: gold;
	width: 4px;
	height: 4px;
}

#ball-toy:after {
	content: '2014';
	position: relative;
	left: 4px;
	top: 5px;
	color: yellow;
	font: 10px Helvetica;
}

#js-toy {
	position: absolute;
	bottom: 65px;
	left: -10px;
	background-color: yellow;
	width: 25px;
	height: 25px;
	z-index: 15;
}

#js-toy:before {
	content: 'js';
	position: absolute;
	bottom: 0;
	right: 0;
}

#php-toy {
	position: absolute;
	bottom: 65px;
	left: 50px;
	width: 40px;
	height: 30px;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 50%;
	z-index: 15;
}

#php-toy:before{
	content: '';
	position: absolute;
	top:1px;
	left:1px;
	width: 36px;
	height: 26px;
	background-color: #191970;
	border: 1px solid black;
	color: white;
	border-radius: 50%;
}

#php-toy:after{
	content: 'PHP';
	position: absolute;
	top: 5px;
	left: 5px;
	color: white;
}

#mysql-toy{
	position: absolute;
	height: 20px;
	bottom: 70px;
	left: 110px;
	background-color: white;
	color: orange;
	font: 14px bold;
	text-shadow: 1px 1px black;
	z-index: 15;
}

#mysql-toy span {
	color: #20B2AA;
}

#html-toy{
	position: absolute;
	bottom:150px;
	left:20px;
	width: 10px;
	height: 20px;
	border-bottom: 10px solid transparent;
	border-right: 10px solid orange;
	z-index: 16;
	text-shadow: 1px 1px black;
}

#html-toy:before{
	content: '';
	position: absolute;
	left:19px;
	width: 10px;
	height: 20px;
	/*background-color: orange;*/
	border-bottom: 10px solid transparent;
	border-left: 10px solid orange;
}

#html-toy:after{
	content: '';
	position: absolute;
	left: 19px;
	top: 3px;
	width: 2px;
	height: 12px;
	border-bottom: 9px solid transparent;
	border-left: 7px solid white;
	opacity: 0.4;
}

#html-toy p {
	position: absolute;
	top:-20px;
	left: 15px;
	font: 20px bold;
	color: white;
}

#html-toy span {
	position: absolute;
	top:-10px;
	left: 8px;
	font: 8px bold;
	color: white;
}

#css-toy{
	position: absolute;
	bottom:150px;
	left:90px;
	width: 10px;
	height: 20px;
	border-bottom: 10px solid transparent;
	border-right: 10px solid darkblue;
	z-index: 16;
	text-shadow: 1px 1px black;
}

#css-toy:before{
	content: '';
	position: absolute;
	left:19px;
	width: 10px;
	height: 20px;
	/*background-color: orange;*/
	border-bottom: 10px solid transparent;
	border-left: 10px solid darkblue;
}

#css-toy:after{
	content: '';
	position: absolute;
	left: 19px;
	top: 3px;
	width: 2px;
	height: 12px;
	border-bottom: 9px solid transparent;
	border-left: 7px solid white;
	opacity: 0.4;
}

#css-toy p {
	position: absolute;
	top:-20px;
	left: 15px;
	font: 20px bold;
	color: white;
}

#css-toy span {
	position: absolute;
	top:-10px;
	left: 10px;
	font: 10px bold;
	color: white;
}
