/*
    Document   : prototype
    Created on : 08.05.2014, 11:22:11
    Author     : rail
    Description:
        Purpose of the stylesheet follows.
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    margin: 0; padding: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline;
}
#content {
    width: 100%;
}

#content-left {
    float: left;
}
#work-zone-border {
    background-color: #191970;
}
#content-left-workzone{
    /*    здесь хиден, чтобы поверх дива не отображалось*/
    overflow: hidden;
    background-color: #ffffff;
}
#all-elements {
    /*overflow: hidden;*/
    /*    здесь абсолют, чтобы позволить передвигать все дивы;)*/
    cursor: move;
    position: relative;
}
#content-left-helperzone {
    width: 100%;
    border-right: 5px solid #191970;
    overflow: scroll;
}
#ngame {
    overflow: hidden;
}
#elements-setting {
    width: 50%;
    float: left;
}
#text-setting {
    /*display: none;*/
}
#select-color{
    width: 50%;
    float: left;
    display: none;
}
#select-color div {
    float: left;
    width: 15px;
    height: 15px;
}

#content-right {
    float: left;
}
#content-right-elements {
    border-bottom: 5px solid #191970;
    overflow: scroll;
}
#content-right-elements div {
    float:left;
}
.clear{
    clear: left;
}
.transChooser {
    background: transparent url(images/helpers/transChooser.gif);
}
#number-line {

}
.number-line-top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.number-line-top div {
    position: absolute;
    top: 0;
    border-left: 1px #000000 solid;
    /*border: #000000;*/
}
.number-line-left div {
    position: absolute;
    left: 0;
    border-top: 1px #000000 solid;
}
